.dataTables_filter {
	text-align: left !important;
}

.pagination {
	float: right;
}

@media screen and (max-width:1199px) {
	.hscroll {
		overflow-x: auto;
	}
}

table.dataTable tr.odd .sorting_1 {
	background-color: #E2E4FF !important;
}

table.dataTable tr.even .sorting_1 {
	background-color: white !important;
}

table.dataTable tr.odd {
	background-color: #E2E4FF !important;
}

table.dataTable tr.even {
	background-color: white !important;
}

.homeHref {
	font-weight: bold;
}

.panel-heading.collapsed .fa-chevron-down,
.panel-heading .fa-chevron-right,
.panel-body-collapse {
  display: none;
}

.panel-dtl-title .fa-chevron-right {
	display: inline-block !important;
}

.panel-heading.collapsed .fa-chevron-right,
.panel-heading .fa-chevron-down {
  display: inline-block;
}

i.fa {
  cursor: pointer;
  margin-right: 5px;
}

.collapsed ~ .panel-body {
  padding: 0;
}

.panel-heading {
	cursor: pointer;
	font-weight : bold;
	background-color: #E2E4FF;
	margin-bottom: 5px;
	color:#4952ef;
}

.panel-info > .panel-heading {
	height: 40px;
	padding-top: 5px;
}
.btn {
	border-color: #4952ef !important;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    overflow-y: auto;
}
